
/* GENERAL STYLES */

body {
  padding: 20px 0;
}


/* COMPONENTS */


/*Breadcrumb*/

.breadcrumb li + li:before {
  content: "> "
}


/*Horizontal list*/

.list__horizontal {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.list__horizontal--item {
  display: inline-block;

}


/*Product photo*/

.product-photo {
  padding: 5px;
  background: #fff;
/*  border: 1px solid #ccc;*/
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
}

.product-photo--img {
  max-width: 100%;
}


/*Product offer*/

.product-offer {
  background: #428bca;
  position: absolute;
  top: 20px;
  left: 5px;
  padding: 7px 30px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.product-offer--tag-top {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #428bca transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -25px;
}

.product-offer--tag-bottom {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent #428bca transparent;
  position: absolute;
  bottom: 0;
  right: -25px;
}


/*Product details*/

.product-title {
  margin-top: 0;
  font-family: Georgia, serif;
}


.product-details .form-group {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.product-details .control-label {
  line-height: 30px;
  font-weight: normal;
  color: #999;
}

.product-details select {
  color: #999;
}

.product-details .price {
  font-size: 38px;
  font-weight: bold;
  display: block;
}

.product-details .btn-warning {
  text-shadow: -1px -1px 0px #999;
  margin-top: 25px;
  padding: 6px 25px;
  font-weight: bold;

  background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0, #FFBF00),
  	color-stop(1, #FF8C00)
  );
  background-image: -o-linear-gradient(bottom, #FFBF00 0%, #FF8C00 100%);
  background-image: -moz-linear-gradient(bottom, #FFBF00 0%, #FF8C00 100%);
  background-image: -webkit-linear-gradient(bottom, #FFBF00 0%, #FF8C00 100%);
  background-image: -ms-linear-gradient(bottom, #FFBF00 0%, #FF8C00 100%);
  background-image: linear-gradient(to bottom, #FFBF00 0%, #FF8C00 100%);
}


/*Product tabs*/

.product-tabs {
  margin-top: 30px;
}

.tab-content .tab-pane {
  padding: 20px 0;
}


/*Footer*/

.footer {
  border-top: 2px solid #428bca;
  padding: 10px 0;
  margin-top: 20px;
}


/*Product stars*/

.star-rating {
  margin: 0 auto;
  display:inline-block;
  width: 140px;
  height: 28px;
  position: absolute;
  top: 1px;
  right: -140px;
}


/*PLUGINS*/

/*Star rating*/

.rb0:checked ~ .rating,
label.rb0l:hover ~ .rating
{
    width: 0px; /* no stars */
}

.rb1:checked ~ .rating,
label.rb1l:hover ~ .rating
{
    width: 12px; /* half a star */
}

.rb2:checked ~ .rating,
label.rb2l:hover ~ .rating
{
    width: 24px; /* a star */
}

.rb3:checked ~ .rating,
label.rb3l:hover ~ .rating
{
    width: 36px; /* 1.5 stars */
}

.rb4:checked ~ .rating,
label.rb4l:hover ~ .rating
{
    width: 48px; /* 2 stars */
}
.rb5:checked ~ .rating,
label.rb5l:hover ~ .rating
{
    width: 60px;
}
.rb6:checked ~ .rating,
label.rb6l:hover ~ .rating
{
    width: 72px;
}
.rb7:checked ~ .rating,
label.rb7l:hover ~ .rating
{
    width: 84px;
}
.rb8:checked ~ .rating,
label.rb8l:hover ~ .rating
{
    width: 96px;
}
.rb9:checked ~ .rating,
label.rb9l:hover ~ .rating
{
    width: 108px;
}
.rb10:checked ~ .rating,
label.rb10l:hover ~ .rating
{
    width: 120px; /* 5 stars */
}

.star-rating label.star {
    width: 12px; /* half star */
    left: -12px; /* half star */
    padding: 0;
    height: 28px; /* whole star + 2x padding (4px each for top and bottom) */
    position: relative;
    z-index: 3;
    float: left;
}

.star-rating label.star.last {
    width: 10px;
}

/* hide inputs (RBs and their labels) */
.star-rating input[type=radio],
.star-rating label.rb
{
    display: none;
}

/* using icons found at http://www.easyicon.cn/language.en/icondetail/523835/ */
.rating {
    background: url('/assets/images/stars/star_full.png') repeat-x top left;
    position: relative;
    z-index: 2;
    top: 0px; /* 1x padding */
    height: 24px; /* whole star */
    width:0px;
}

.rating-bg {
    background: url('/assets/images/stars/star_empty.png') repeat-x top left;
    position: relative;
    z-index: 1;
    top: -24px; /* 1 whole star - 1x padding */
    height: 24px; /* whole star */
    width: 120px;
}

/* IE8 fallback to radio buttons */
.ie8 .star-rating input,
.ie8 .star-rating label.rb
 {
    display: inline-block;
}

.ie8 .rating,
.ie8 .rating-bg,
.ie8 .star-rating label.star {
    display: none;
}


.text-rating {
  position: absolute;
  top: 5px;
  right: -150px;
  color: #ccc;
}


/* Social Share Icons */

.rrssb-buttons {
  width: 220px !important;
}

.rrssb-buttons.large-format li a,.rrssb-buttons.large-format li a .text{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden}.rrssb-buttons,.rrssb-buttons li,.rrssb-buttons li a{-moz-box-sizing:border-box;box-sizing:border-box}.clearfix{*zoom:1}.clearfix:after{clear:both}.clearfix:before,.clearfix:after{content:" ";display:table}.rrssb-buttons{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;height:36px;margin:0;padding:0;width:100%}.rrssb-buttons li{float:left;height:100%;list-style:none;margin:0;padding:0 2.5px}.rrssb-buttons li.email a{background-color:#0a88ff}.rrssb-buttons li.email a:hover{background-color:#006ed6}.rrssb-buttons li.facebook a{background-color:#306199}.rrssb-buttons li.facebook a:hover{background-color:#244872}.rrssb-buttons li.tumblr a{background-color:#32506d}.rrssb-buttons li.tumblr a:hover{background-color:#22364a}.rrssb-buttons li.linkedin a{background-color:#007bb6}.rrssb-buttons li.linkedin a:hover{background-color:#005983}.rrssb-buttons li.twitter a{background-color:#26c4f1}.rrssb-buttons li.twitter a:hover{background-color:#0eaad6}.rrssb-buttons li.googleplus a{background-color:#e93f2e}.rrssb-buttons li.googleplus a:hover{background-color:#ce2616}.rrssb-buttons li.youtube a{background-color:#df1c31}.rrssb-buttons li.youtube a:hover{background-color:#b21627}.rrssb-buttons li.reddit a{background-color:#8bbbe3}.rrssb-buttons li.reddit a:hover{background-color:#62a3d9}.rrssb-buttons li.pinterest a{background-color:#b81621}.rrssb-buttons li.pinterest a:hover{background-color:#8a1119}.rrssb-buttons li.github a{background-color:#444}.rrssb-buttons li.github a:hover{background-color:#2b2b2b}.rrssb-buttons li a{background-color:#ccc;border-radius:2px;display:block;font-size:11px;font-weight:bold;height:100%;padding:11px 7px 12px 27px;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;width:100%;-webkit-transition:background-color 0.2s ease-in-out;-moz-transition:background-color 0.2s ease-in-out;-o-transition:background-color 0.2s ease-in-out;transition:background-color 0.2s ease-in-out}.rrssb-buttons li a .icon{display:block;height:100%;left:10px;padding-top:9px;position:absolute;top:0;width:10%}.rrssb-buttons li a .icon svg{height:17px;width:17px}.rrssb-buttons li a .icon svg path,.rrssb-buttons li a .icon svg polygon{fill:#fff}.rrssb-buttons li a .text{color:#fff}.rrssb-buttons li a:active{box-shadow:inset 1px 3px 15px 0 rgba(22,0,0,0.25)}.rrssb-buttons li.small a{padding:0}.rrssb-buttons li.small a .icon{height:100%;left:auto;margin:0 auto;overflow:hidden;position:relative;top:auto;width:100%}.rrssb-buttons li.small a .text{visibility:hidden}.rrssb-buttons.large-format{height:auto}.rrssb-buttons.large-format li{height:auto}.rrssb-buttons.large-format li a{font-size:15px;font-size:1vw;padding:7% 0% 7% 12%;border-radius:0.2em}.rrssb-buttons.large-format li a .icon{left:7%;padding-top:0;width:12%}.rrssb-buttons.large-format li a .icon svg{height:100%;width:100%}.rrssb-buttons.large-format li a .text{font-size:15px;font-size:1vw}.rrssb-buttons.large-format li a:hover{font-size:15px;font-size:1vw;padding:7% 0% 7% 12%;border-radius:0.2em}.rrssb-buttons.small-format{padding-top:5px}.rrssb-buttons.small-format li{height:80%;padding:0 1.5px}.rrssb-buttons.small-format li a .icon{height:100%;padding-top:0}.rrssb-buttons.small-format li a .icon svg{height:48%;position:relative;top:6px;width:80%}.rrssb-buttons.tiny-format{height:22px;position:relative}.rrssb-buttons.tiny-format li{padding-right:7px}.rrssb-buttons.tiny-format li a{background-color:transparent;padding:0}.rrssb-buttons.tiny-format li a .icon svg{height:70%;width:100%}.rrssb-buttons.tiny-format li a:hover,.rrssb-buttons.tiny-format li a:active{background-color:transparent}.rrssb-buttons.tiny-format li.email a .icon svg path,.rrssb-buttons.tiny-format li.email a .icon svg polygon{fill:#0a88ff}.rrssb-buttons.tiny-format li.email a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.email a .icon:hover .icon svg polygon{fill:#0054a3}.rrssb-buttons.tiny-format li.facebook a .icon svg path,.rrssb-buttons.tiny-format li.facebook a .icon svg polygon{fill:#306199}.rrssb-buttons.tiny-format li.facebook a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.facebook a .icon:hover .icon svg polygon{fill:#18304b}.rrssb-buttons.tiny-format li.tumblr a .icon svg path,.rrssb-buttons.tiny-format li.tumblr a .icon svg polygon{fill:#32506d}.rrssb-buttons.tiny-format li.tumblr a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.tumblr a .icon:hover .icon svg polygon{fill:#121d27}.rrssb-buttons.tiny-format li.linkedin a .icon svg path,.rrssb-buttons.tiny-format li.linkedin a .icon svg polygon{fill:#007bb6}.rrssb-buttons.tiny-format li.linkedin a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.linkedin a .icon:hover .icon svg polygon{fill:#003650}.rrssb-buttons.tiny-format li.twitter a .icon svg path,.rrssb-buttons.tiny-format li.twitter a .icon svg polygon{fill:#26c4f1}.rrssb-buttons.tiny-format li.twitter a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.twitter a .icon:hover .icon svg polygon{fill:#0b84a6}.rrssb-buttons.tiny-format li.googleplus a .icon svg path,.rrssb-buttons.tiny-format li.googleplus a .icon svg polygon{fill:#e93f2e}.rrssb-buttons.tiny-format li.googleplus a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.googleplus a .icon:hover .icon svg polygon{fill:#a01e11}.rrssb-buttons.tiny-format li.youtube a .icon svg path,.rrssb-buttons.tiny-format li.youtube a .icon svg polygon{fill:#df1c31}.rrssb-buttons.tiny-format li.youtube a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.youtube a .icon:hover .icon svg polygon{fill:#84111d}.rrssb-buttons.tiny-format li.reddit a .icon svg path,.rrssb-buttons.tiny-format li.reddit a .icon svg polygon{fill:#8bbbe3}.rrssb-buttons.tiny-format li.reddit a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.reddit a .icon:hover .icon svg polygon{fill:#398bcf}.rrssb-buttons.tiny-format li.pinterest a .icon svg path,.rrssb-buttons.tiny-format li.pinterest a .icon svg polygon{fill:#b81621}.rrssb-buttons.tiny-format li.pinterest a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.pinterest a .icon:hover .icon svg polygon{fill:#5d0b11}.rrssb-buttons.tiny-format li.github a .icon svg path,.rrssb-buttons.tiny-format li.github a .icon svg polygon{fill:#444}.rrssb-buttons.tiny-format li.github a .icon:hover .icon svg path,.rrssb-buttons.tiny-format li.github a .icon:hover .icon svg polygon{fill:#111}



/* OVERRIDES */

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background: transparent;
  font-weight: bold;
  color: #000;
}

.nav>li>a:hover, .nav>li>a:focus {
  background: transparent;
  color: #000;
}


.nav>li>a {
  padding: 5px 10px;
  border-radius: 0;
}

.nav>li+li>a {
  border-left: 1px solid #ccc;
}
